---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const description = "Contact";
---

<DefaultLayout title="Contact Me" description={description}>
  <div>Contact</div>
</DefaultLayout>
