---
import ContactForm from "../components/contact-form.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const description = "Contact";
---

<BaseLayout title="Contact Me" description={description}>
  <div>Contact</div>
  <ContactForm />
</BaseLayout>
