---
import BaseLayout from "../layouts/BaseLayout.astro";

const description = "Design Process";
---

<BaseLayout title="Design Process" description={description}>
  <div>Design Process</div>
</BaseLayout>
