---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const description = "Design Process";
---

<DefaultLayout title="Design Process" description={description}>
  <div>Design Process</div>
</DefaultLayout>
