---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const description = "Services";
---

<DefaultLayout title="Services" description={description}>
  <div>services</div>
</DefaultLayout>
