---
import ContactInformation from "./contact-information.astro";
import FormCheckbox from "./form-checkbox.astro";
---

<section>
  <div class="rounded-md bg-zinc-800 p-4 w-full">
    <div class="grid grid-cols-1 md:grid-cols-[1fr_2fr]">
      <ContactInformation />
      <div class="p-4 pr-0 w-full">
        <form autocomplete="off" data-netlify="true" name="contact">
          <div class="mb-2">
            <label class="block text-sm" for="name">Name</label>
            <input
              class="focus:outline-none py-2 w-full bg-transparent border-b-2 border-solid border-zinc-800 focus:border-orange-400"
              type="text"
              id="name"
              name="name"
              placeholder="Your name"
            />
          </div>
          <div class="mb-2">
            <label class="block text-sm" for="email">Email</label>
            <input
              class="focus:outline-none py-2 w-full bg-transparent border-b-2 border-solid border-zinc-800 focus:border-orange-400"
              type="email"
              id="email"
              name="email"
              placeholder="Your email"
            />
          </div>
          <FormCheckbox />
          <div class="mb-2">
            <label class="block text-sm" for="message">Message</label>
            <textarea
              class="focus:outline-none py-2 w-full resize-none bg-transparent border-b-2 border-solid border-zinc-800 focus:border-orange-400"
              id="message"
              name="message"
              placeholder="Your message"
              rows="3"></textarea>
          </div>
          <div class="flex justify-center">
            <button
              class="py-1 px-4 w-full border-b-2 border-solid border-zinc-800 hover:bg-orange-400 rounded-md ease-in-out duration-150"
              type="submit"
              >Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<style>
  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(39 39 42 / var(--tw-bg-opacity)) inset !important;
  }

  /*Change text in autofill textbox*/
  input:-webkit-autofill {
    -webkit-text-fill-color: yellow !important;
    caret-color: rgb(39 39 42 / var(--tw-bg-opacity)) !important;
  }
</style>
