---
import { Image } from "@astrojs/image/components";
import placeholder from "~/data/showcase/images/astro-docs.png";

const { title, url, image, index } = Astro.props;
---

<div
  class={`flex ${
    index % 2 === 0 ? "flex-row" : "flex-row-reverse"
  } border-2 border-white rounded-md hover:border-orange-400`}
>
  <div class="w-full p-2">
    <h1 class="text-2xl font-bold">{title}</h1>
    <p class="text-lg">description</p>
    <a href={url} class="btn btn-primary"> text</a>
  </div>
  <div class="w-full p-2">
    <a href="#">
      <Image src={placeholder} />
    </a>
  </div>
</div>
