---
import ContentSection from "~/components/content-section.astro";
import sites from "~/data/showcase/sites.json";
import WorkCard from "./work-card.astro";
---

<ContentSection title="Showcase" id="showcase">
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        sites.map(({ title, image, url }) => (
          <WorkCard title={title} image={image} url={url} />
        ))
      }
    </div>
  </div>
</ContentSection>
