---
import ContentSection from "~/components/content-section.astro";
import sites from "~/data/showcase/sites.json";
import WorkCard from "./work-card.astro";
---

<ContentSection title="Showcase" id="showcase">
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4">
      {
        sites.map(({ title, image, url }, index) => {
          return (
            <WorkCard title={title} image={image} url={url} index={index} />
          );
        })
      }
    </div>
  </div>
</ContentSection>
